alembic
fastapi[all]
fastapi-users[sqlalchemy]
psycopg2
python-dotenv
sqlalchemy
requests           
opencv-python        
torch                
ultralytics         
numpy                
shapely              
asyncpg
aioboto3